/*
    Main Palette
        Dark Blue: #36424E
        Grey: #90979F
        Blue Grey: #A7B9D1
        Light Blue: #BACEE6
        White: #F3FDFE
    Complementary Colors
        Milk Chocolate: #897653
        Light Tan: #E6D6BA
    Forms
        Background: #E3EBF5;
        Border: #36424E;
        Text: #36424E


    https://color.adobe.com/inspiration-color-theme-10819633/?showPublished=true

    Fonts
        Font-Family: 'Lato', Sans-Serif;
        Font-Family: 'Catamaran', Sans-Serif;

    <link href="https://fonts.googleapis.com/css?family=Catamaran|Lato:400i" rel="stylesheet">
*/

p {
    font-family: lato, Arial, sans-serif;
    font-size: 16pt;
}

.form-group {
    font-family: lato, Arial, sans-serif;
    font-size: 16pt;
}

.formsText {
    margin: 10px 0px;
    color: #36424E;
}

.formsInput {
    background-color: #E3EBF5;
    border: 1px solid #36424E;
}

.button {
    background-color: #E3EBF5;
    border: 1px solid #36424E;
    color: #36424E;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px 0px;
    cursor: pointer;
}