/*
    Main Palette
        Dark Blue: #36424E
        Grey: #90979F
        Blue Grey: #A7B9D1
        Light Blue: #BACEE6
        White: #F3FDFE
    Complementary Colors
        Milk Chocolate: #897653
        Light Tan: #E6D6BA
    Forms
        Background: #E3EBF5;
        Border: #36424E;
        Text: #36424E
    https://color.adobe.com/inspiration-color-theme-10819633/?showPublished=true
    Fonts
        Font-Family: 'Lato', Sans-Serif;
        Font-Family: 'Catamaran', Sans-Serif;
    <link href="https://fonts.googleapis.com/css?family=Catamaran|Lato:400i" rel="stylesheet">

    border: 1px solid black;
*/

* {
    box-sizing: border-box;
}

body {
    background-color: #A7B9D1;
    margin: 0px;
    padding: 0px 0px 50px 0px;
}

h1 {
    font-size: 26pt;
    color: #36424E;
    
}

hr {
    color: #897653;
    border-style: solid;
}

p {
    font-size: 14pt;
    margin: 0px 15px 15px 15px;
}

#page {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    height: auto;
    border-bottom: 4px solid #897653;
    background-color: #F3FDFE;
}

#signature {
    float: left;
    max-width: 100%;
    height: auto;
    margin-left: 20%;
}

#signatureImage {
    max-width: 100%;
    height: auto;

}

#headerMenu {
    float: right;
    font-family: Catamaran, Arial, sans-serif;
    font-size: 18pt;
    max-width: 100%;
    height: auto;
    margin-right: 20%;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    padding: 0px 3px;
}

a {
    text-decoration: none;
    display: block;
}

a:link {color: #36424E;}
a:visited {color: #36424E;}
a:hover {color: #BACEE6;}
a:active {color: #90979F;}


#ruleLineHeader {
    background-color: #897653;
    width: 100%;
    height: 4px;
}

#content {
    font-family: lato, Arial, sans-serif;
    background-color: #F3FDFE;
    border: 2px solid #897653;
    width: 60%;
    margin: 1em auto;
    padding: 2em 4em;   
}

.image1 {
    float: left;
    max-width: 75%;
    height: auto;
    margin: 0px 15px;
    border: 2px solid #897653;
}

.image2 {
    float: right;
    max-width: 75%;
    height: auto;
    margin: 0px 15px;
    border: 2px solid #897653;
}

#ruleLineFooter {
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 4px;
    background-color: #E6D6BA;
}

/* Portfolio Page Grid */

/*** rows ***/

#portfolioCellsContainer {
    width: 65%;
}

#topRow {
    display: inline-block;
    margin: 0px;
}

#middleRow {
    display: inline-block;
    margin: 0px;
}

#bottomRow {
    display: inline-block;
    margin: 0px;
}

/*** columns ***/

#topLeft {
    display: inline-block;
    margin-right: 30px;
}

#topRight {
    display: inline-block;

}

#middleLeft {
    display: inline-block;
    margin-right: 30px;
}

#middleRight {
    display: inline-block;
}

#bottomLeft {
    display: inline-block;
    margin-right: 30px;
}

#portfolioImages {
    max-width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.cellText {
    position: relative;
    bottom: 30px;
    font-family: Catamaran, Arial, sans-serif;
    font-size: 12pt;
    text-align: center;
    width: 100%;
    height: 30%;
    margin: auto;
    padding: 0px;
    color: white;
    background-color: darkorange;
}

/* Footer All Pages */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 4px solid #E6D6BA;
    background-color: #36424E;
}

#copyRight {
    float: right;
    font-family: Catamaran, Arial, sans-serif;
    font-size: 12pt;
    color: #F3FDFE;
    margin: 12px 20px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }


@media only screen and (max-width: 980px) {
    #signatureImage {
        max-width: 75%;
        height: auto;
        margin: 0% 10%;
    }

    #headerMenu {
        float: right;
        font-size: 16pt;
        max-width: 100%;
        height: auto;
        margin-right: 20%;
    }

    #content {
        width: 85%;
        margin: 1em auto;
        padding: 1em 2em;   
    }

    h1 {
        font-size: 22pt;
        color: #36424E;   
    }

    p {
        font-size: 12pt;
        margin: 0px 15px 15px 15px;
    }

    .image1 {
        float: left;
        max-width: 75%;
        height: auto;
        margin: 0px 15px;
        border: 2px solid #897653;
    }
    
    .image2 {
        float: right;
        max-width: 75%;
        height: auto;
        margin: 0px 15px;
        border: 2px solid #897653;
    }

    #portfolioImages {
        max-width: 65%;
        height: auto;
        margin: 0px;
        padding: 0px;
    }

}

/* *****END 980px ***** */


@media only screen and (max-width: 768px) {
    #signatureImage {
        max-width: 65%;
        height: auto;
        margin: 0% 10%;
    }

    #headerMenu {
        float: right;
        font-size: 14pt;
        max-width: 100%;
        height: auto;
        margin-right: 20%;
    }

    #content {
        width: 85%;
        margin: 1em auto;
        padding: 1em 2em;   
    }

    h1 {
        font-size: 18pt;
        color: #36424E;
    }

    p {
        font-size: 10pt;
        margin: 0px 15px 15px 15px;
    }
    
    .image1 {
        float: left;
        max-width: 65%;
        height: auto;
        margin: 0px 15px;
        border: 2px solid #897653;
    }
    
    .image2 {
        float: right;
        max-width: 65%;
        height: auto;
        margin: 0px 15px;
        border: 2px solid #897653;
    }

    #portfolioImages {
        max-width: 55%;
        height: auto;
        margin: 0px;
        padding: 0px;
    }
}

/* *****END 768px ***** */


@media only screen and (max-width: 640px) {
    #signatureImage {
        max-width: 55%;
        height: auto;
        margin: 0% 10%;
    }

    #headerMenu {
        float: right;
        font-size: 12pt;
        max-width: 100%;
        height: auto;
        margin-right: 20%;
    }

    #content {
        width: 85%;
        margin: 1em auto;
        padding: 1em 2em;   
    }

    h1 {
        font-size: 14pt;
        color: #36424E;
    }

    p {
        font-size: 10pt;
        margin: 0px 15px 15px 15px;
    }

    .image1 {
        float: left;
        max-width: 55%;
        height: auto;
        margin: 0px 15px;
        border: 2px solid #897653;
    }
    
    .image2 {
        float: right;
        max-width: 45%;
        height: auto;
        margin: 0px 15px;
        border: 2px solid #897653;
    }

    #portfolioImages {
        max-width: 555%;
        height: auto;
        margin: 0px;
        padding: 0px;
    }
}